.App {
  background-color: var(--bg-color);
  min-height: 100vh;
  color: black;
}

.header{
  width: 20%;
  border-bottom: 1px solid var(--main-accent-color);
  padding: 2rem 0rem 2rem 2rem
}

.general-content{
  display: grid;
  grid-template-columns: 15rem 1fr;
}

.side-Bar{
  background-color: var(--bg-sidebar-color);
  height: calc(100vh - 151px);
  padding: 1rem 1rem 0rem 2rem;
}

.content{
  padding: 2rem 1rem 0rem 2rem;
}
